.card {
    /* box-shadow: inset -3px -3px 5px 0 #ffffff, 3px 3px 5px 0 #aeaec0; */
    margin: 0px;
    background-color: #444444;
    color: white;
    /* border-color: black; */
    border: none;

}

.container {
    padding: 0;
    margin: 20px auto;
}

.img-card {
    background-color: white;
}

.card-title {
    font-weight: 400;

}

.card-time {
    font-size: 13px;
    font-weight: 100;

}

.card-platform {
    margin: 0em;
    padding: 0%;
    font-weight: 200;
}