.card {


    box-shadow: inset -10px -10px 30px 0 #ffffff, 5px 5px 10px 0 #aeaec0;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    margin: 0px;
    width: 10vw;

}

.container {
    padding: 0;
    margin: 20px auto;
}