.searchbar {
    margin-top: 30%;
}

body {}

.bg-image {
    background-image: url("../assets/background1.jpg");
    height: 100% !important;
    filter: blur(8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}