.setting-heading {
    color: white;
    font-size: 22px;
}

a {
    color: #aaaaaa;
}

a:hover {
    color: #ffffff;
}

.popover-body {
    color: white;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: transparent !important;
    color: #ffffff;
}

.left-content {
    border-right: 0.5px solid #fff;
}

ul {
    list-style-type: none;
    padding: 5px;
}

li {
    margin-top: 5px;
    display: flex;
    justify-content: right;
    /* border-bottom: 1px solid white; */

}

.platform-name {
    font-size: 17px;
    margin-right: auto;
    margin-top: 3px;

}

.platform {
    /* border-bottom: 2px solid white; */
    text-align: center;
}

.hr-settings {
    padding: 0%;
    margin: 0%;
    background-color: #aaaaaa;
}