.settings-btn,
.settings-btn:hover,
.settings-btn:active,
.settings-btn::selection,
.settings-btn:focus {
    background-color: transparent;
    border: none;
    color: white;
    font-size: large;
}

.popover {
    width: 470px;
    height: 60vh;
    max-width: none;
    background-color: #121212;
}

.fade.show {
    opacity: 0.9;
}

.popover-header {
    background-color: #121212;
    opacity: 0.9;
}